.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.navContainer {
    display: block;
    position: relative;
    height: 60px;
    /* background-color: aquamarine; */
    backdrop-filter: blur(6px);

}

.navContainer .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.navContainer .hamburgerLines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navContainer .hamburgerLines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
}

.navContainer .hamburgerLines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.navContainer .hamburgerLines .line2 {
    transition: transform 0.2s ease-in-out;
}

.navContainer .hamburgerLines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navContainer input[type="checkbox"]:checked~.hamburgerLines .line1 {
    transform: rotate(45deg);
}

.navContainer input[type="checkbox"]:checked~.hamburgerLines .line2 {
    transform: scaleY(0);
}

.navContainer input[type="checkbox"]:checked~.hamburgerLines .line3 {
    transform: rotate(-45deg);
}

.navContainer input[type="checkbox"]:checked~.logo {
    display: none;
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: white;
}

.navbar .menuItems {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.9); */
    background-color: #202023;
    margin-left: -40px;
    padding-top: 120px;
    padding-left: 50px;
    transform: translate(-150%);
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .navContainer li {
    list-style: none;
}

.navbar .navContainer a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .navContainer a:hover {
    font-weight: bolder;
}

.navbar .menuItems li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.navContainer input[type="checkbox"]:checked~.menuItems {
    transform: translateX(0);
}